#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border: 2px solid black;
    border-radius: 5%;
    background-color: grey;
    gap:20px;
    padding:5px;
}

#screen-display{
    display:flex;
    align-items: center;
    height:60px;
    font-size:40px;
    background-color: white;
    border-radius:5%;
    border: 2px solid black;
    width:200px;
}

#buttons button{
    display:flex;
    flex-direction: column;
    width: 50px;
    height:50px;
    font-weight: bold;
    font-size: 20px;
    gap: 5px;
    border-radius: 15%;
}

#top-buttons button{
    background-color: darkgray;
    width: 100px;
    height:30px;
}

#top-buttons
{
    display:flex;
    flex-direction: row;
}

#bottom-buttons{
    display:flex;
    flex-direction: row;
}
#left-buttons{
    display:flex;
    flex-direction: column;

}
#right-buttons button{
    display:flex;
    flex-direction: column;
    background-color: orange;
}
.rows{
    display:flex;
    flex-direction: row;
}